.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: #fff;
    font-size: 20px;
    line-height: 64px;
    background: blue;
}

.ant-layout-footer {
    padding: 0% 0px 0px 0px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    background: #FFF;
    border: #000 1px solid;
}

.ant-layout-sider {
    position: relative;
    /* fix firefox can't set width smaller than content on flex item */
    min-width: 0;
    background: #FFF;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    height: 100%;
}

.ant-layout-content {
    background: #FFF;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    /* fix firefox can't set height smaller than content on flex item */
    min-height: 0;
}